/* import font from Google CDN */
@import url('href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Source+Sans+Pro:wght@300;400&display=swap"');

/* Universal selector used to rest all margins and padding */
*{
    margin: 0;
    padding: 0;
}

html, body{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}
/* !SUPER IMPORTANT - HOW CONTENT GETS SEPARATED! */
.container{
    display: grid;
    grid-template-columns: [full--start] 0.6fr [centre--end center--start] 0.4fr [full--end];
    grid-template-rows: repeat(6, min-content);
}

/* Start of Desktop View */
/* **************************** */

/* Start of Desktop Nav Bar */
.desktop-nav{
    /* causes code to consume entire width of viewport */
    grid-column: full--start/full--end;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.desktop-nav a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo{
    height: 2rem;
    padding-left: 1.5rem;
    width: 2rem;
}

.logo-name{
    font-size: 1rem;
    text-transform: uppercase;
}

.logo-name-bold{
    font-weight: bold;
    color: #484848;
}

.logo-name-thin{
    font-weight:400;
    color: #aaaaaa;
}

.navlist{
    list-style: none;
    display: flex;
}

.navlist a{
    display: inline-block;
    text-decoration: none;
    color: #828282;
    font-size: 1rem;
}

.nav-item:not(:last-child){
    margin-right:1rem;
}

.nav-item:last-child{
    margin-right: 1.5rem;
}
/* End of Desktop Nav Bar */

/* Start of Desktop Header (Hero Banner) */
.header-picture{
    display: flex;
    background-color: #c8c8c8;
}

.header-picture img{
    padding: 2rem 0 2rem 1.5rem;
    width: 100%;
    height: auto;
}

.header-content{
    background-color: #c8c8c8;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-content div h1{
    font-size: 2.5rem;
    color: #484848
}

.header-content div h2{
    font-size: 1rem;
    font-weight: 500;
    columns: #484848;
    padding: 1rem 0;
}

.header-content div{
    display: block;
    width: 80%;
}
.header-content div a:link{
    border: 1px solid black;
    display: block;
    width: 100%;
    align-self: stretch;
    margin: 1rem auto;
    padding: 0.5rem 0;
    color: #d8d8d8;
    background-color: #4a4a4a;
    text-decoration: none;
    text-align: center;
}

.header-content div a:hover{
    background-color: rgba(72, 72, 72, 0.5);
}

.header-content div a:active,
.header-content div a:visited{
    color: #fff;
    text-decoration: none;
    background-color: #4a4a4a;
}
/* End of Desktop Header (Hero Banner)*/

/* Start of practice section */
.practice{
    background-color: #f0f0f0;
    padding: 2rem 1.5rem;
}

.practice img{
    width: 100%;
    height: auto;
}

.practice h3{
    padding: 2rem 0 1.5rem 0 ;
    color: #484848 ;
}

.practice p{
    font-size: small;
    color: #484848;
}

.quote-name{
    display: block;
    margin: 2rem 0;
}

.events{
    background-color: #f0f0f0;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border-left: 1px solid #e7e7e7;
    padding-top: 1rem;
}

.event-block{
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    font-size: small;
    color: #484848;
}

.event-block img{
    width: 100%;
    height: auto;
    padding: 1rem;
}

.event-block-content{
    margin: 0 2rem;
}

.event-block-content p{
    font-size: 0.8rem;
    padding: 0.5rem 0;
}

.event-block-content a:link,
.event-block-content a:active,
.event-block-content a:visited{
    color: #6c8fef;
    font-size: 0.8rem;
    text-decoration: none;
}

.event-block:last-child{
    background-color: #d8d8d8;
}

.events-mobile{
    display: none;
}

/* End of practice section */

/* Start of learning section */
#start-learning-section{
    grid-column: full--start / full--end;
    /* border: 1px solid black; */
    background-color: #c8c8c8;
    padding: 0 4.5rem 4rem 4.5rem;
}

.showcase-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    /* border: 1px solid black; */
}

.learning-title{
    font-size: xx-large;
    font-weight: 700;
    color: #4a4a4a;
    text-align: center;
    padding: 2rem 0;
}

.lesson-card {
    font-size: x-large;
    background-color: #ffffff;
}

.course-link img{
    height: auto;
    display: block;
    width: 100%;
}

.course-link h4{
    padding: 1rem 0 1rem 1rem;
}

.course-link .course{
    padding:0 0 0.5rem 1rem;
}

.course-link .modules{
    padding: 0 0 3rem 1rem;
}

.lesson-card a:link,
.lesson-card a:active,
.lesson-card a:visited{
    text-decoration: none;
    color: #484848;
}


/* End of learning section */

/* Start of thesis section */

.thesis-title{
    font-size: xx-large;
    font-weight: 100;
    color: #38abde;
    display: block;
    grid-column: full--start / full--end;
    text-align: center;
    /* border: 1px solid black; */
    padding: 2rem 0;

}
.thesis-video-file{
    padding-left: 1.5rem;
}

.thesis-video h3{
    padding: 1.5rem 0 0.5rem 0;
    color: #484848;
    padding-left: 1.5rem;
}

.thesis-video p{
    padding: 0 0 2rem 0;
    color: #484848;
    font-weight: 200;
    padding-left: 1.5rem;
}

.thesis-project-block{
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    font-size: small;
    color: #fff;
    background-color: #282c37;
    margin-left: 3rem;
    font-size: large;
}

.thesis-project-block img{
    width: 100%;
    height: auto;
    padding: 1rem;
}

.thesis-block-content{
    margin: 0 2rem;
}

.thesis-project-block:last-child{
    background-color: #ffffff;
    color: #484848;
}
/* End of thesis section */

/* start of footer section */
.footer{
    /* causes code to consume entire width of viewport */
    grid-column: full--start/full--end;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-top:1px solid #e9ebeb;
}

.copyright{
    padding: 1rem 0 0 1.5rem;
    color: #484848;
}

.footer-list{
    list-style: none;
    display: flex;
}

.footer-list a{
    display: inline-block;
    text-decoration: none;
    color: #828282;
    font-size: 1rem;
}

.footer-item:not(:last-child){
    margin-right:1rem;
}

.footer-item:last-child{
    margin-right: 1.5rem;
}


/* end of footer section */



/* **************************** */
/* End of Desktop View */

/* Start of Mobile View */
/* **************************** */
/* ! Start of Mobile Navigation */

.mobile-nav{
    display: none;
}

/* End of Mobile Navigation */

/* !Start of Media Query */
/* Target size: 640px (40rem) width */
@media screen and (max-width: 40rem){

    /* hide desktop-nav */
    .desktop-nav{
        display: none;
     }

     /* display mobile nav */
     .mobile-nav{
        display: flex;
        grid-column: full--start / full--end;     /*lets nav bar occupy whole width of screen */
        align-items: center;
        width: auto;
        height: 4rem;
        justify-content: space-around;
     }

     .container{
        max-width: 100dvw;
     }

     .header-picture{
        grid-column: full--start / full--end;
     }

     .header-picture img{
        padding: 0;
     }

     .header-content{
        display: flex;
        grid-column: full--start / full--end;
        padding: 2rem 1rem 2rem 1rem;
     }

     .header-content div h1{
        font-size: xx-large;
        padding: 0 0 2rem 0;
     }

     .header-content div h2{
        font-size: larger;
        padding: 0 0 2rem 0;
     }

     .header-contentdiv{
        display: block;
        width: 100%;
     }

     /* practice, events */
     .practice{
        display: none;
     }

     .events{
        display: none;
     }
     
     .events-mobile{
        display: block;
        grid-column: full--start / full--end;
        padding: 1rem;
     }

     .events-mobile .event-block{
        grid-template-columns: 1fr;
     }

     .events-mobile .event-block img{
        padding: 0;
     }

     .events-mobile .event-block-content{
        padding: 2rem 0 2rem 1rem;
        margin: 0;
     }

     .events-mobile .event-block-content h4{
        font-size: x-large;
        font-weight: 600;
     }

     .events-mobile .event-block-content p{
        font-size: large;
        font-weight: lighter;
     }

     .events-mobile .event-block-content a:link{
        font-size: large;
     }
}

    

/* End of Media Query */

/* **************************** */
/* End of Mobile View */